beautifulsoup4==4.13.4
bs4==0.0.2
certifi==2025.1.31
charset-normalizer==3.4.1
GDAL==3.6.2
idna==3.10
imageio==2.37.0
joblib==1.4.2
lazy_loader==0.4
networkx==3.4.2
numpy==2.2.4
packaging==24.2
pillow==11.1.0
pyhdf==0.11.6
requests==2.32.3
scikit-image==0.25.2
scikit-learn==1.6.1
scipy==1.15.2
six==1.17.0
soupsieve==2.6
threadpoolctl==3.6.0
tifffile==2025.3.30
typing_extensions==4.13.2
urllib3==2.3.0
wxPython==4.2.2
